.whatteli{
  
  margin-top: 0px;
  
 
  padding: 0px;
  align-items: center;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  
}
/* .whatteli img {
  width: 24px;
  height:24px;
} */
.what{
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 16px;
  width: 70px;
  height: 30px;
 
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

 .teli{
  margin-top: 10px;
  margin-right: 50px;
  width: 55px;
  height: 30px;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  
}
#mainhomeheading{
  background-color: rgb(119, 238, 238);
  text-align: center;
  padding: 10px;
  

}





















/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
